<h1>Edit Blogger <%=@blogger_id%></h1>
<%= form_with(model: @edit_blogger) do |form| %>
  <div class="mb-3">
    <%= form.label :name ,class:"form-label"%>
    <%= form.text_field :name , class:"form-control"%>
  </div>

  <div class="mb-3">
    <%= form.label :level ,class:"form-label"%>
    <%= form.number_field  :level , class:"form-control"%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>