<h1>Edit Blogger <%=@blogger_id%></h1>
<%= form_with(model: @edit_blogger) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field  :level %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>