<h1>Comments</h1>
<table class="table table-hover align-middle">
  <thead>
    <tr>
      <th>Comment</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @all_comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= link_to 'Edit', blogger_comment_edit_path(params[:id],comment.id) ,class:"btn btn-warning btn-sm"%></td>
        <td><%= link_to 'Destroy', blogger_comment_page_path(params[:id],comment.id), method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-danger btn-sm"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h1>Add Comment</h1>
<%= form_with model: [@blogger,@add_comment], url: blogger_comment_page_path ,local: true do |form| %>
  <div class="mb-3">
    <%= form.label :comment ,class:"form-label"%>
    <%= form.text_field :body , class:"form-control"%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

